<nav class="row text-center">
  <div class="col-sm-12">
    <a href="#" class="pull-right"><%= link_to 'Home', root_path %></a>
    <ul class="pull-left">
      <li class="border-black-2px"><%= link_to 'Timeline', timeline_path %></li>
      <li class="border-black-2px"><%= link_to 'About', about_path %></li>
      <li class="border-black-2px"><%= link_to 'Photos', photos_path %> <span class="text-gray-light">(123)</span></li>
      <li class="border-black-2px"><%= link_to 'Friends', friends_path %> <span class="text-gray-light">(542)</span></li>
    </ul>
  </div>

  <!--<div class="col-sm-4">-->
  <!--</div>-->
</nav>